body {
  background: rgb(215, 190, 248);
 font-family: 'Mochiy Pop One', sans-serif;
 font-size: 32px;
 color: rgb(36, 13, 120);
}

#body > div >h3{
  font-family: 'square peg', cursive;
  font-size: 60px;
  color: rgb(14, 96, 106);
  float: left;
  background-color: rgb(215, 190, 248);
  text-align: left;
  width: 100%;

}

p {
  font-size: 20px;
}

a:link{
  color:blue;
}
a:visited{
  color:rgb(138, 18, 138);
}

img{
  border-radius: 10px;

  border-width: 20px;


  margin-bottom: 25px;
  padding: 20px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#btnID {
  background-color: rgb(225, 212, 249);
  border-radius: 5px;
  border: 2px solid rgb(87, 10, 180);
  color: rgb(29, 3, 57);
  padding: 6px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, .2);
}